*{
    margin: 0;
    padding: 0;
}

/* html{
    scroll-behavior: smooth;
} */

body{
    font-family: 'Times New Roman', Times, serif;
    background:  #e1e4e6;
    line-height: 1.5;
    height: 100vh;
}

header{
    top:0;
    width:100%;
    z-index:9999;
    position: fixed;
    height: 4.5vh;
}


.header-wrapper
{
    width: 100%;
    color: black;
    background-color: #ffffff;
    height: 4.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}

.nav-links ul a{
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}

.intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin : 150px 100px;
}

.right{
    text-align: center;
    width:450px;
    height: 400px;
    background-color: rgba(87, 83, 83, 0.123);
    border-radius: 10px;
}

.right img{
    border-radius: 10px;
}

.right h1{
    text-align: center;

}

.intro1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 150px 100px;
}

.intro1-left
{
    text-align: center;
    width:450px;
    height: 400px;
    background-color: rgba(87, 83, 83, 0.123);
    border-radius: 10px;
}

.intro1-left img{
    border-radius: 10px;
}

.intro1-right
{

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:15px;
}

.cards {
    margin-left: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card{
    margin:7px 7px;
    padding:15px 15px;
    border-radius: 10px;
    width:150px;
    height:200px;
    background-color: #fff;
} */

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:7px 7px;
    padding: 0 10px;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    width:150px;
    height:200px;
    gap:10px;
    font-size: 14px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5) ;
}

.card i{
    color: #5792f9;
    font-size: 30px;
    /* padding-left: 50px;
    padding-bottom: 17px; */
}

.card p{
    text-align: center;
}

.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 130px 100px;

}

.section-title{

     font-family: 2rem;
     margin-bottom: 25px;
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:50px;
}

.contact-item{
    font-size: 1.1rem;
    display: flex;
    gap:20px;
    align-items: center;
}


.contact-form{
    background: #fff;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5) ;
    
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding:15px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.contact-form button{
    border:none;
    cursor:pointer;
    background-color:#5792f9;
    color: white;
    font-size: 14px;
    width:140px;
    height: 40px;
    border-radius: 6px;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin : 130px 100px;
    gap:50px;
}

.cards-project{
    display: flex;
    align-items: center;
    gap:40px;
}

.cards-project .content-image{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin:7px 7px;
    padding: 0 10px;
    justify-content: center;
    text-align: center;

}

.card-p{
    background-color: #fff;
    width:300px;
    height:380px;
    border-radius: 10px;
}

.card-p img{
    border-radius: 10px;
    padding-bottom: 7px;
}

footer {
    background-color: rgb(0, 238, 255);
    color: black;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
    font-size: 16px;
}

footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    margin: 0 10px;
    font-size: 20px;
    color: black;
}

footer .social-icons a:hover {
    color: rgb(0, 0, 0);
}

