body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.header{
    display: flex;
    background: linear-gradient(to right, rgb(13, 17, 23), rgb(20, 50, 35), rgb(34, 40, 49));
    color: white;
    text-align: center;
    justify-content: space-between;
    padding: 10px 30px ;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.nav{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.nav a{
    color: white;
    text-decoration:none;
    font-size: 16px;
}

.nav a:hover {
    color: rgb(0, 238, 255); /* A sharp, neon cyan */
}

.hero {
    height: 94vh;
    display: flex;
    justify-content: space-between;
}


.hero .right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 50px;
}

.hero .right .cta-button {
    padding: 10px 20px; /* Note: I added left/right padding so it's not squished */
    background: linear-gradient(to right, rgb(0, 238, 255), rgb(30, 58, 138));
    color: black;
    text-decoration: none;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    margin-top: 20px;
    align-self:center /* Keeps the button on the left and fits it to the text size */
}

.hero .right .cta-button:hover {
    background: linear-gradient(to right, rgb(30, 58, 138), rgb(0, 238, 255)); /* Reverse the gradient on hover */
    scale: 1.1;
}